# Created by .ignore support plugin (hsz.mobi)
cms/target/
common/target/
shopping/target/
.idea/
cache/
dlsw.iml
shopping/shopping.iml
common/common.iml
cms/cms.iml
common/src/main/resources/
common/src/test/
